{% extends 'carapp/base.html' %}

{% block body_block %}
    {% if cartype_list %}
        <h2>Available Type of Cars</h2>
        <ol class="car-list">
            {% for cartype in cartype_list %}
                <li>
                    <a href="{% url 'carapp:cardetail' cartype.id %}">
                        {% if cartype.image %}
                            <img src="{{ cartype.image.url }}" alt="{{ cartype.name }}">
                        {% endif %}
                        {{ cartype.name }}
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <strong> None of the car types is available!</strong>
    {% endif %}
{#    <p><a href="{% url 'carapp:aboutUs' %}">About Page</a></p>#}
{% endblock %}
