{% extends 'carapp/base.html' %}

{% block body_block %}
    <h3> Click <a href="{% url 'carapp:orders'%}">HERE</a> to view order history </h3>
    <h3> You can place your order here </h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Order</button>
    </form>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
    <h2>Available Vehicles with QTY:</h2>
    <ul>
        {% for vehicle in vehiclelist %}
            <li>{{ vehicle.car_name }} - {{ vehicle.inventory }}</li>
        {% endfor %}
    </ul>
{% endblock %}
