body {
    background-color: powderblue;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
}

.hbar1 {
    display: inline-block;
    margin: 15px;
}

