body {
    background-color: powderblue;
    color: black;
    font-family: sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
}

.hbar1 {
    display: inline-block;
    margin: 15px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: #ffffff;
}

.navbar a {
  flex: 1;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.navbar a:last-child {
  border-right: none;
}

.navbar a.active {
    font-weight: bold;
    color: blue;
    border-bottom: 2px solid blue;
}

.footer-copyright{
    text-align: center;
    color: rgba(0,0,0,.7);
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}